.createUser {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
}

.modal-content {
  padding: 40px;
}

.modal-content .error {
  color: red;
}

.modal-content .input-container {
  padding: 10px;
}

.modal-content .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
