container_commands:
    00_download_epel:
        command: "sudo wget -r --no-parent -A 'epel-release-*.rpm' http://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    10_install_epel_release:
        command: "sudo rpm -Uvh dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-*.rpm"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    20_enable_epel:
        command: "sudo yum-config-manager --enable epel*"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    30_install_certbot:
        command: "sudo yum install -y certbot python2-certbot-nginx"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"