.queryBuilder button {
  outline: 0;
  font-weight: bold;
  border-radius: 5px;
  min-width: 30px;
}

.queryBuilder select {
  height: 29px;
  margin: 5px;
  width: 100%;
}

.queryBuilder .rule {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.queryBuilder .rule .button-container {
  display: flex;
}

.queryBuilder .rule .input {
  width: 350px;
}

.queryBuilder .rule ul {
  background-color: white;
  position: absolute;
  z-index: 99;
  padding: 20px;
  min-width: 253px;
  border: 1px solid #ced4da;
  list-style-type: none;
}

.queryBuilder .rule li {
  cursor: pointer;
}

.queryBuilder .rule li:hover {
  background-color: bisque;
}

.queryBuilder .ruleGroup {
  margin-left: 40px;
  padding: 10px;
  border-color: grey;
  border-style: none;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 10px;
}

.tooltipInfo > div {
  min-width: 410px;
  text-align: left;
}
