
.HeaderBase{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.HeaderBase .title-zone{
  display: flex;
  padding-top: 24px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.HeaderBase .buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.HeaderBase .logo{
  width: 90px;
}