.import {
  padding-top: 20px;
  display: flex;
  flex-direction: column!important;
  padding-right: 50px;
  padding-left: 50px;
}

.import td img{
  width: 50px;
  cursor: pointer;
}

.import .dropzone{
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 200px;
  justify-content: center;
}

.import .dropzone .container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  border-style: dashed;
  width: 200Px;
}

.import .buttons{
  display: flex;
  justify-content: center;
}


.import-loader{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 200px;
}