.auth .container{
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 2px 6px 0 #E4E4E4;
}

.auth .error{
  color:red;
}

.auth button{
  width: 100%;
  outline: none;
  border: 0;
  padding: 13px 0;
  text-align: center;
  font: 14px / normal "dinbold", sans-serif;
  letter-spacing: .5px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 3px;
}
.auth .block h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}
.auth .block{
  padding: 20px;
  max-width: 400px;
}
.auth .block a:hover{
  color: #890f3c;
  text-decoration: none;
}

.auth .forgot-link{
  float: right;
}

.auth .submit-button{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  color: #fff;
  background-color: #007bff;
}

.auth .signin .ORText, .auth .signup .ORText {
  text-align: center;
  display: block;
  font: 1.125em / normal "Karla", sans-serif;
  color: #c0c5c7;
  margin: 18px auto;
}

.auth .link{
  font-weight: 900;
  font-size: 14px;
  font-family: Karla;
  color: #007bff;
  margin-bottom: 40px;
  cursor: pointer;
}

.auth  .signin-block .input-field {
  width: 100%;
  background-color: #F2F2F2;
  border: 0;
  height: auto;
  font: 12px / normal "Karla", sans-serif;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
}
.auth .signin-block .submit-button{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  color: #fff;
  background-color: #890f3c;
}
.auth .signup-text{
  margin: 10px 0;
  text-align: center;
  font: 14px / normal "Karla", sans-serif;
}
.auth .forgot-block{
  padding: 20px;
  max-width: 400px;
}
.auth .forgot-text{
  margin-bottom: 15px;
  padding: 0 50px;
  letter-spacing: .4px;
  color: #c0c5c7;
  text-align: center;
  font: 12px / normal "Karla-Regular", sans-serif;
}

.auth .message{
  text-align: center;
}

.auth .input-field {
  width: 100%;
  background-color: #F2F2F2;
  border: 0;
  height: auto;
  font: 12px / normal "Karla", sans-serif;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 3px;
}
