# Variables à définir au niveau du projet Gitlab, avec l'option "masquée" :
# - AWS_ACCESS_KEY_ID_OPEN      : Identifiant AWS pour les environnements Open
# - AWS_SECRET_ACCESS_KEY_OPEN  : Clé AWS pour les environnements Open
# - AWS_ACCESS_KEY_ID_MC        : Identifiant AWS pour les environnements du Ministère de la Culture
# - AWS_SECRET_ACCESS_KEY_MC    : Clé AWS pour les environnements du Ministère de la Culture
#
default:
  image: node:14.17

include:
  - ".gitlab-ci-template.yml"
  - project: "boost/template-ci/pipelines/common"
    file: 
      - "sonar/sonar.yml"
      
# la variable AUDIT_LEVEL définit le niveau de criticité minimum pour la réussite de l'audit
# Exemple pour le niveau "critical", le job sera en succés si aucune vulnérabilité critique n'a été détectée
# Valeur possible: null, "info", "low", "moderate", "high", "critical", or "none"
variables:
  AUDIT_LEVEL: "critical"
  SAST_DISABLE: "false"
  QUALITY_DISABLE: "false"

stages:
  - node-modules
  - test
  - sast
  - quality
  - build
  - deploy

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_COMMIT_BRANCH'
    - if: '$CI_COMMIT_TAG'

##############################################################
# NODE-MODULES
#
# Variables à utiliser avec ce template :
#   - APP : Nom du module applicatif à compiler (api, diffusion, consultation).
node-modules-api:
  extends: 
    - ".node-modules"
  variables:
    APP: api

node-modules-production:
  extends: 
    - ".node-modules"
  variables:
    APP: production

node-modules-diffusion:
  extends: 
    - ".node-modules"
  variables:
    APP: diffusion

##############################################################
# TEST
#
# Variables à utiliser avec ce template :
#   - APP : Nom du module applicatif à compiler (api, diffusion, consultation).
test-api:
  dependencies:
    - node-modules-api
  extends: 
    - ".pop-test"
  services:
    - mongo:4.4
  variables:
    APP: api
    DB_ENDPOINT: mongodb://mongo:27017/pop

test-production:
  dependencies:
    - node-modules-production
  extends: 
    - ".pop-test"
  variables:
    APP: production

test-diffusion:
  dependencies:
    - node-modules-diffusion
  extends: 
    - ".pop-test"
  variables:
    APP: diffusion

##############################################################
# SAST
#   - APP : Nom du module applicatif à compiler (api, diffusion, consultation).
#
audit-api:
  extends: 
    - ".pop-audit"
  variables:
    APP: api

audit-diffusion:
  extends: 
    - ".pop-audit"
  variables:
    APP: diffusion

audit-production:
  extends: 
    - ".pop-audit"
  variables:
    APP: production

##############################################################
# SONAR
#
# Variables à utiliser avec ce template :
#   - CI_PROJECT_NAME : Key du projet Sonar
#   - SONAR_OPTIONS : Set du répertoire de l'application
# SONAR_KEY=mc.pop.
sonar-api:
  extends: 
    - ".sonar"
    - ".sonar-pop"
  variables:
    CI_PROJECT_NAME: ${CI_PROJECT_NAME}.api
    SONAR_OPTIONS: "-Dsonar.projectBaseDir=apps/api -Dsonar.quality.wait=true"

sonar-diffusion:
  extends: 
    - ".sonar"
    - ".sonar-pop"
  variables:
    CI_PROJECT_NAME: ${CI_PROJECT_NAME}.diffusion
    SONAR_OPTIONS: "-Dsonar.projectBaseDir=apps/diffusion"

sonar-production:
  extends: 
    - ".sonar"
    - ".sonar-pop"
  variables:
    CI_PROJECT_NAME: ${CI_PROJECT_NAME}.production
    SONAR_OPTIONS: "-Dsonar.projectBaseDir=apps/production"

##############################################################
# BUILD
#
# Variables à utiliser avec ce template :
#   - APP : Nom du module applicatif à compiler (api, diffusion, consultation).
build-production-devic1:
  extends:
    - ".build-app"
  dependencies:
    - node-modules-production
  variables:
    APP: production
    API_URL: http://pop-api-devic1.eu-west-3.elasticbeanstalk.com
    POP_URL: http://pop-consultation-devic1.eu-west-3.elasticbeanstalk.com
    BUCKET_URL: https://s3.eu-west-3.amazonaws.com/global-open-mc-pop-devic1-phototheque/
    NODE_ENV: devic1
    SENTRY_DSN: https://6fa9dc5ef69b4e5782696405634b1f98@o1104995.ingest.sentry.io/6313039

build-diffusion-devic1:
  extends:
    - ".build-app"
  dependencies:
    - node-modules-diffusion
  variables:
    APP: diffusion
    API_URL: http://pop-api-devic1.eu-west-3.elasticbeanstalk.com
    POP_URL: http://pop-consultation-devic1.eu-west-3.elasticbeanstalk.com/
    BUCKET_URL: https://s3.eu-west-3.amazonaws.com/global-open-mc-pop-devic1-phototheque/
    NODE_ENV: devic1
    SENTRY_DSN: https://16d9797f91fc4db89b69afd1da2a2c74@o1104995.ingest.sentry.io/6312721


##############################################################
# DEPLOY DEVIC1 (OPEN)
#
deploy-api-devic1:
  extends:
    - ".deploy-open"
  variables:
    APP: api
    ENV: pop-api-devic1
    NAME: pop_api
    REPLACE: pop-api
  environment:
    name: pop-api-devic1
    url: http://pop-api-devic1.eu-west-3.elasticbeanstalk.com/
    deployment_tier: development
  rules:
    - when: manual

deploy-production-devic1:
  extends:
    - ".deploy-open"
  variables:
    APP: production
    ENV: pop-production-devic1
    NAME: pop_production
    REPLACE: pop-production
  environment:
    name: pop-production-devic1
    url: http://pop-production-devic1.eu-west-3.elasticbeanstalk.com/auth/signin
    deployment_tier: development
  rules:
    - when: manual

deploy-diffusion-devic1:
  extends:
    - ".deploy-open"
  variables:
    APP: diffusion
    ENV: pop-consultation-devic1
    NAME: pop_consultation
    REPLACE: pop-consultation
  environment:
    name: pop-consultation-devic1
    url: http://pop-consultation-devic1.eu-west-3.elasticbeanstalk.com/
    deployment_tier: development
  rules:
    - when: manual
