.museo-card-sm {
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;
  padding-bottom: 15px;
  box-shadow: 0 2px 4px 1px rgba(189, 189, 189, 0.7);
  margin-bottom: 30px;
}
.museo-card-sm h2 {
  font-size: 22px;
}
