.footer {
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex;
  box-shadow: 0 -2px 6px 0 rgba(189, 189, 189, 0.2);
}

.footer a:hover,
.footer a {
  text-decoration: none;
  padding-left: 20px;
  color: #003f48;
  font-weight: 300;
  font-size: 18px;
}

#betagouv {
  background-color: white;
  height: 32px;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .footer a,
  .footer a:hover {
    line-height: 20px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 499px) {
  .footer {
    position: absolute;
    bottom: 0;
    height: 60px;
  }
}
