.header {
  box-shadow: 0 2px 6px 0 rgb(189, 189, 189);
  position: relative;
}

.header .NavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  max-width: 100% !important;
  padding: 5px 15px;
}

.header .right-container {
  display: flex;
}

.header .right-container a {
  display: flex;
  padding: 10px 40px 10px 10px;
}

.header .right-container .btn {
  background-color: #C43A2F;
}

#beta {
  position: absolute;
  width: 120px;
  height: 110px;
  right: 0;
  top: 0;
  display: flex;
  overflow: hidden;
}

#beta > div {
  position: absolute;
  right: -31.75%;
  top: 10%;
  width: 100%;
  background-color: #c43a2f;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

#beta > div > span {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 3px;
}
