/* Example Styles for React Tags*/

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 7px;
  font-size: 14px;
  padding-bottom: 7px;
}

.input textarea:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.field .input {
  width: 100%;
}
.field textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 32px;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.3;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.field .title {
  padding-right: "15px";
  min-width: "100px";
  color: "#5a5a5a";
  font-style: "italic";
}

div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 250px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 32px;
  margin: 0;
  font-size: 14px;
  color: #495057;
  width: 100%;
  padding-left: 5px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  background: #eee;
  font-size: 14px;
  display: inline-block;
  padding: 4px;
  margin: 0 5px 5px 0;
  border-radius: 2px;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 400px;
  z-index: 1000;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}
