option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-d8b9dfb1
    
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-40a00b3b
    
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-7bda4a12
    
  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value: subnet-e6c73dab
