.search-map .map-single-notice {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
}

.search-map .map-single-notice .content {
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-map .map-single-notice .thumbnail {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
}

.search-map .map-single-notice img {
  max-width: 270px;
  max-height: 255px;
  object-fit: cover;
}

.search-map .map-single-notice img.no-img {
  width: 190px;
  height: 140px;
}

.search-map .map-single-notice .content .categories {
  font-size: 9px;
  color: #808d9e;
  font-weight: 300;
  margin-bottom: 10px;
}

.search-map .map-single-notice h2 {
  font-weight: 600;
  color: #2a282b;
  margin-bottom: 0;
  font-size: 1.2rem;
  padding-top: 5px;
}

.search-map .map-single-notice h3 {
  font-weight: 600;
  font-size: 16px;
  color: #2a282b;
  margin-bottom: 0;
}

.search-map .map-single-notice span {
  font-weight: 400;
  font-size: 12px;
  color: #19414c;
  margin-left: auto;
}

.search-map .map-single-notice p {
  color: #2a282b;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-map .map-single-notice .bottom {
  display: flex;
  flex-direction: row-reverse;
}

.search-map .map-single-notice .more {
  background-color: #377d87;
  border: 0;
  color: #fff;
  padding: 3px 3px 1px;
  display: block;
  width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  justify-content: space-between;
  box-shadow: 1px 2px 2px 0 rgba(197, 197, 197, 0.5);
  border-radius: 5px;
  height: 26px;
  margin-top: 10px;
}
