version: 2.1

executors:
  docker_node:
    working_directory: ~/repo
    docker:
      - image: circleci/node:14.17
  docker_python:
    working_directory: ~/repo
    docker:
      - image: circleci/python:3.9

commands:
  restore_node_modules:
    parameters:
      app:
        type: string
    steps:
      - restore_cache:
          key: << parameters.app >>-dependencies-{{ checksum "apps/<< parameters.app >>/package-lock.json" }}
  save_node_modules:
    parameters:
      app:
        type: string
    steps:
      - save_cache:
          paths:
            - apps/<< parameters.app >>/node_modules
          key: << parameters.app >>-dependencies-{{ checksum "apps/<< parameters.app >>/package-lock.json" }}
  prepare:
    parameters:
      app:
        type: string
    steps:
      - restore_node_modules:
          app: << parameters.app >>
      - run:
          name: prepare
          command: |
            cd apps/<< parameters.app >>
            npm ci
      - save_node_modules:
          app: << parameters.app >>
  test:
    parameters:
      app:
        type: string
    steps:
      - checkout
      - restore_node_modules:
          app: << parameters.app >>
      - run:
          name: test
          command: |
            cd apps/<< parameters.app >>
            npm test
  build:
    parameters:
      app:
        type: string
      api_url:
        type: string
      pop_url:
        type: string
      bucket_url:
        type: string
      env:
        type: string
      sentry:
        type: string
      path:
        type: string
    steps:
      - checkout
      - restore_node_modules:
          app: << parameters.app >>
      - run:
          name: build
          command: |
            cd apps/<< parameters.app >>
            echo "API_URL=<< parameters.api_url >>" > .env
            echo "POP_URL=<< parameters.pop_url >>" >> .env
            echo "BUCKET_URL=<< parameters.bucket_url >>" >> .env
            echo "NODE_ENV=<< parameters.env >>" >> .env
            echo "SENTRY_DSN=<< parameters.sentry >>" >> .env
            npm run build
      - persist_to_workspace:
          root: ~/repo/apps/<< parameters.app >>
          paths:
            - << parameters.path >>
  deploy:
    parameters:
      eb_deploy:
        type: string
      app:
        type: string
      app_name:
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo/apps/<< parameters.app >>
      - restore_node_modules:
          app: << parameters.app >>
      - configure_aws_ebcli
      - run:
          name: deploy
          command: |
            cd apps/<< parameters.app >>
            sed -i "s/pop_production/<< parameters.app_name >>/" .elasticbeanstalk/config.yml
            eb deploy << parameters.eb_deploy >>
  deploy_api:
    parameters:
      eb_deploy:
        type: string
      app_name:
        type: string
    steps:
      - checkout
      - restore_node_modules:
          app: api
      - configure_aws_ebcli
      - run:
          name: deploy
          command: |
            cd apps/api
            sed -i "s/pop_api/<< parameters.app_name >>/" .elasticbeanstalk/config.yml
            eb deploy << parameters.eb_deploy >>
  configure_aws_ebcli:
    steps:
      - run: sudo pip install awsebcli
      - run:
          name: AWS credentials
          command: |
            mkdir ~/.aws
            echo "[eb-cli]" > ~/.aws/credentials
            echo "aws_access_key_id=$AWS_ACCESS_KEY_ID" >> ~/.aws/credentials
            echo "aws_secret_access_key=$AWS_SECRET_ACCESS_KEY" >> ~/.aws/credentials

########
# JOBS #
########
jobs:
  prepare_all:
    executor: docker_node
    steps:
      - checkout
      # Sorry.
      - run: sudo npm install npm@latest -g
      - prepare:
          app: api
      - prepare:
          app: production
      - prepare:
          app: diffusion
  ##############
  # TEST JOBS #
  ##############
  test_api:
    docker:
      - image: circleci/node:14.17
      - image: circleci/mongo:4.4
    working_directory: ~/repo
    steps:
      - test:
          app: api
  test_diffusion:
    executor: docker_node
    steps:
      - test:
          app: diffusion
  test_production:
    executor: docker_node
    steps:
      - test:
          app: production
  ##############
  # BUILD JOBS #
  ##############
  build_diffusion_staging:
    executor: docker_node
    steps:
      - build:
          app: diffusion
          api_url: http://pop-api-staging.eu-west-3.elasticbeanstalk.com
          pop_url: http://pop-consultation-staging.eu-west-3.elasticbeanstalk.com/
          bucket_url: https://s3.eu-west-3.amazonaws.com/pop-phototeque-staging/
          env: staging
          sentry: https://16d9797f91fc4db89b69afd1da2a2c74@o1104995.ingest.sentry.io/6312721
          path: .next
  build_diffusion_prod:
    executor: docker_node
    steps:
      - build:
           app: diffusion
           api_url: http://pop-api.eu-west-3.elasticbeanstalk.com
           pop_url: https://pop.culture.gouv.fr/
           bucket_url: https://s3.eu-west-3.amazonaws.com/pop-phototeque/
           env: production
           sentry: https://16d9797f91fc4db89b69afd1da2a2c74@o1104995.ingest.sentry.io/6312721
           path: .next
  build_production_staging:
    executor: docker_node
    steps:
      - build:
          app: production
          api_url: http://pop-api-staging.eu-west-3.elasticbeanstalk.com
          pop_url: http://pop-consultation-staging.eu-west-3.elasticbeanstalk.com
          bucket_url: https://s3.eu-west-3.amazonaws.com/pop-phototeque-staging/
          env: staging
          sentry: https://6fa9dc5ef69b4e5782696405634b1f98@o1104995.ingest.sentry.io/6313039
          path: build
  build_production_prod:
    executor: docker_node
    steps:
      - build:
          app: production
          api_url: http://pop-api.eu-west-3.elasticbeanstalk.com
          pop_url: https://pop.culture.gouv.fr/
          bucket_url: https://s3.eu-west-3.amazonaws.com/pop-phototeque/
          env: production
          sentry: https://6fa9dc5ef69b4e5782696405634b1f98@o1104995.ingest.sentry.io/6313039
          path: build
  ###############
  # DEPLOY JOBS #
  ###############
  deploy_diffusion_staging:
    executor: docker_python
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo/apps/diffusion
      - restore_node_modules:
          app: diffusion
      - configure_aws_ebcli
      - run:
          name: deploy
          command: |
            cd apps/diffusion
            sed -i "s/pop_consultation/pop-consultation-staging/" .elasticbeanstalk/config.yml
            eb deploy pop-consultation-staging
  deploy_production_staging:
    executor: docker_python
    steps:
      - deploy:
          app: production
          eb_deploy: pop-production-staging
          app_name: pop-production-staging
  deploy_api_staging:
    executor: docker_python
    steps:
      - deploy_api:
          eb_deploy: pop-api-staging
          app_name: pop-api-staging
  deploy_production_prod:
    executor: docker_python
    steps:
      - deploy:
          app: production
          eb_deploy: pop-production
          app_name: pop-production
  deploy_api_prod:
    executor: docker_python
    steps:
      - deploy_api:
          eb_deploy: pop-api
          app_name: pop-api
  deploy_diffusion_prod:
    executor: docker_python
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo/apps/diffusion
      - restore_node_modules:
          app: diffusion
      - configure_aws_ebcli
      - run:
          name: deploy
          command: |
            cd apps/diffusion
            sed -i "s/pop_consultation/pop-consultation/" .elasticbeanstalk/config.yml
            eb deploy pop-consultation
#############
# WORKFLOWS #
#############
workflows:
  version: 2.1
  ci_cd:
    jobs:
      - prepare_all
      - test_api:
          requires:
            - prepare_all
      - test_production:
          requires:
            - prepare_all
      - test_diffusion:
          requires:
            - prepare_all
      - build_diffusion_staging:
          requires:
            - test_diffusion
          filters:
            branches:
              only: 
                - staging
                - new-search-system
      - build_diffusion_prod:
          requires:
            - test_diffusion
          filters:
            branches:
              only: master
      - build_production_staging:
          requires:
            - test_production
            - prepare_all
          filters:
            branches:
              only: staging
      - build_production_prod:
          requires:
            - test_production
            - prepare_all
          filters:
            branches:
              only: master
      - deploy_api_staging:
          requires:
            - test_api
            - prepare_all
          filters:
            branches:
              only: staging
      - deploy_diffusion_staging:
          requires:
            - build_diffusion_staging
          filters:
            branches:
              only: 
                - staging
                - new-search-system
      - deploy_production_staging:
          requires:
            - build_production_staging
          filters:
            branches:
              only: staging
      - deploy_api_prod:
          requires:
            - test_api
            - prepare_all
          filters:
            branches:
              only: master
      - deploy_production_prod:
          requires:
            - build_production_prod
          filters:
            branches:
              only: master
      - deploy_diffusion_prod:
          requires:
            - build_diffusion_prod
          filters:
            branches:
              only: master
