.museo {
  display: flex;
  justify-content: start;
  align-items: "center";
  background-color: #e5edef;
  flex-direction: column;
  padding-bottom: 60px;
}

.museo-card {
  margin: 50px auto;
  max-width: 800px;
  padding: 30px 25px 30px 25px;
}

@media screen and (min-width: 800px) {
  .museo-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 1px rgba(189, 189, 189, 0.7);
  }
}

.museo h1 {
  color: #025d59;
  font-size: 24px;
  margin-bottom: 20px;
}
.museo dl > dt {
  color: #025d59;
  margin-top: 15px;
}

.museo-map {
  margin-top: 25px;
}
.museo .collection {
  text-align: center;
  margin-top: 25px;
}
.museo .collection a {
  color: #fff;
  background-color: #377d87;
  border-color: #377d87;
}

.museo .collection a:hover {
  color: #fff;
  background-color: #28565e;
  border-color: #1e4147;
}
