.home {
  background-color: #e5edef;
  height: 100%;
}
.home .slick-slider {
  margin: 0;
}
.home .slick-slider img {
  border: 0;
}
.home .title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 30px;
  padding-top: 20px;
}

.home .image-banner {
  width: 100%;
}

.home .home-search {
  max-width: 880px;
  margin: 0 auto;
  padding: 25px 15px;
  text-align: center;
}
.home .home-search h1 {
  text-align: center;
  color: #19414c;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
}
.home .home-search .css-c0lsh8 {
  display: none;
}
.home .home-search #main-search {
  font-weight: 400;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(215, 215, 215, 0.5);
  background-image: url(../../assets/search.png);
  background-repeat: no-repeat;
  background-position: 1% center;
  padding-left: 40px;
  background-size: 20px;
  color: #19414c;
}
.home .home-search .css-u5onnz {
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(215, 215, 215, 0.5);
  max-height: 278px;
}
.home .home-search .css-u5onnz li a {
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #19414c;
  padding: 3px 35px;
  background-image: url(../../assets/search-black.png);
  background-repeat: no-repeat;
  background-position: left 5px center;
  background-size: 20px;
}
.home .search-areas {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home .search-areas p {
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  color: #19414c;
}
.home .search-areas li {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  color: #19414c;
}
.home .search-areas input {
  display: none;
}
.home .search-areas strong {
  display: inline-block;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #777;
  position: relative;
}
.home .search-areas strong:before,
.home .search-areas strong:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  transform-origin: bottom;
  opacity: 0;
  visibility: hidden;
}
.home .search-areas strong:before {
  height: 2px;
  width: 6px;
  transform: rotate(45deg);
  bottom: 8px;
  left: 2px;
}
.home .search-areas strong:after {
  height: 2px;
  width: 12px;
  transform: rotate(-45deg);
  bottom: 10px;
  left: 6px;
}
.home .search-areas input:checked + strong {
  border: 0;
  background-color: #377d87;
}
.home .search-areas input:checked + strong:before,
.home .search-areas input:checked + strong:after {
  opacity: 1;
  visibility: visible;
}
.home .search-areas label {
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.home .search-areas span.info {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: 10px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  background-color: #9d9d9d;
  line-height: 16px;
  cursor: pointer;
}

.home .home-search button {
    margin-top: 20px;
    background-color: #377d87;
    border-color: #377d87;
}

.home .home-search button:hover {
    margin-top: 20px;
    background-color: #28565e;
    border-color: #1e4147;
}

.tooltip-inner {
    min-width: 500px;
}

.slick-slider {
  width: 100%;
  max-height: 470px;
  text-align: center;
  overflow: hidden;
}



@media screen and (max-width: 767px) {
  .home .home-search input::placeholder {
    font-size: 14px;
  }
}
