.field {
  padding-bottom: 10px;
}

.field p {
  font-weight: normal;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: pre-line;
  margin-bottom: 25px;
}

.field h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #19414cd0;
  text-align: left;
  padding-right: 7px;
  margin-bottom: 3px;
}
