.links .linked-notice-container {
  overflow-x: auto;
  max-height: 600px;
}

.notice .sidebar-section .linked-notice-container h2 {
  color: #025d59;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}
