.map-container {
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(215, 215, 215, 0.5);
  height: 548px;
  padding-top: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
