.pop-error {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.pop-error h1 {
  padding-top: 50px;
}
.pop-error img {
  max-width: 300px;
}
.not-found {
  text-align: center;
  padding-top: 35vh;
  display: flex;
  padding: 60px;
}
.not-found img {
  width: 400px;
}
.not-found .not-found-right {
  flex: 1;
}
.not-found .not-found-left {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
  flex: 1;
}
