.list-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  transition: 0.3s;
  height: 110px;
  overflow: hidden;
  background-color: white;
  height: 250px;
  border-radius: 5px;
}

.list-card:hover {
  box-shadow: 0 3px 6px 0 rgba(189, 189, 189, 1);
}

.list-card .content {
  padding: 15px 30px 10px 0;
  overflow: hidden;
  width: 100%;
}
.list-card .thumbnail {
  width: 290px;
  margin-right: 30px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-card img.no-img {
  width: 190px;
  height: 140px;
}

.list-card .content .categories {
  font-size: 18px;
  color: #808d9e;
  font-weight: 300;
  margin-bottom: 10px;
}

.list-card h2 {
  font-weight: 600;
  font-size: 22px;
  color: #2a282b;
  margin-bottom: 0;
}

.list-card span {
  font-weight: 400;
  font-size: 20px;
  color: #19414c;
  margin-left: auto;
  text-align: right;
}

.list-card p {
  color: #2a282b;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-card .base {
  float: right;
}

@media screen and (max-width: 767px) {
  .list-card {
    height: 110px;
  }

  .list-card .thumbnail {
    width: 150px;
    margin-right: 10px;
  }

  .list-card img.no-img {
    width: 80px;
    height: 80px;
  }
  .list-card h2 {
    font-size: 15px;
  }
  .list-card p,
  .list-card span {
    font-size: 11px;
  }
}
