.User {
  margin-right: 55px;
  margin-left: 25px;
  z-index: 2;
}

.User .dropdown-item {
  border-left: solid transparent 2px;
  padding: 0.7rem 1.5rem;
  text-align: left;
  cursor: pointer;
  color: #868e93;
}

.User .dropdown-header {
  text-align: left;
  border-left: solid transparent 2px;
  color: #0d1b2a;
}

.User .dropdown-item:hover {
  text-align: left;
  color: #720c32;
  border-left: solid #720c32 2px;
  background-color: #d3bfc731;
}

.User a {
  color: inherit;
}

.User .DropDownCont .DropDown {
  margin-left: -260px;
  width: 300px;
  border-width: 0px;
  border-radius: 2px;
  margin-top: 10px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: absolute;
  left: 20px;
  top: 110%;
  z-index: 100;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
}

.User .DropDownCont:hover .DropDown {
  opacity: 1;
  visibility: visible;
  margin-top: 5px;
}

.User .UserImageContainer {
  z-index: 2000;
}

.User .UserImageContainer .avatar {
  width: 40px;
  height: 40px;
}

.User .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: 1000;
  background: black;
}

.User .btn {
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
  border-radius: 50%;
  border: 0px;
  background-color: transparent;
}

.User .label {
  color: #11222b;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .User .register {
    display: none;
  }
}
