.logo {
  display: flex;
  align-items: center;
}
.logo:hover,
.logo:visited,
.logo:focus,
.logo:active {
  text-decoration: none;
}
.logo img {
  width: 170px;
  object-fit: contain;
}
.logo h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Nexa", sans-serif;
  color: #777;
  margin: 0;
}
