.company-title {
  margin-right: 30px;
}
.company-title span {
  display: block;
  font-size: 22px;
  line-height: 1;
  color: #003f48;
}
.company-title span:first-letter {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .company-title span {
    font-size: 16px;
  }
  .company-title {
    margin-right: 15px;
  }
}
