.User {
    margin-right: 0px;
    margin-left: 25px;
}


.User .dropdown-item {
    font-family: Karla;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border-left: solid transparent 2px;
    text-align: left;
    color: #868e93;
}

.User .dropdown-header {
    font-family: Karla;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    border-left: solid transparent 2px;
    color: #0d1b2a;
}

.User .dropdown-item:hover {
    font-family: Karla;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #720c32;
    border-left: solid #720c32 2px;
    background-color: #d3bfc731;
}


.User a {
    color: inherit;
}

.User .DropDownCont .DropDown {
    margin-left: -130px;
    border-width: 0px;
    border-radius: 2px;
    margin-top: 10px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .6s;
    transition: all .6s;
    position: absolute;
    left: 20px;
    top: 110%;
    z-index: 100;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
}

.User .DropDownCont:hover .DropDown {
    opacity: 1;
    visibility: visible;
    margin-top: 5px;
}

.User .UserImageContainer {
    z-index: 2000;
}

.User .UserImageContainer .avatar{
    width: 40px;
    height: 40px;
}

.User .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: 1000;
    background: black;
}
.User .btn {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    border-radius: 50%;
    border: 0px;
    background-color: transparent;
}

.User .label {
    color: #11222b;
    font-size: 14px;
    font-weight: 500;
    font-family: Karla;
}

@media screen and (max-width: 767px){
    .User .register{
       display: none;
    }
}