.search-map .switch-view {
  width: 60px;
  height: 60px;
  z-index: 1;
  margin-right: 45px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  transition: 0.3s;
}

.drawer {
  background-color: white;
  z-index: 3;
  position: absolute;
  right: 15px;
  height: 600px;
  width: 295px;
  display: flex;
  flex-direction: column;
}

.drawer .drawer-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.drawer-title {
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  color: #19414c;
  margin-bottom: 20px;
  padding: 5px;
}

.drawer .mini {
  margin-top: 10px;
  box-shadow: 1px 2px 2px 0 rgba(197, 197, 197, 0.5);
  border: 1px solid #d7d3d3;
  border-radius: 5px;
  cursor: pointer;
}

.drawer .legend {
  padding: 2px;
  text-align: center;
  font-size: 12px;
  padding-bottom: 0px;
}
.drawer .mini .img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer .drawer-title-mini {
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  color: #19414c;
  padding: 5px;
}

.drawer img {
  object-fit: contain;
  width: 100%;
}
.drawer .service-icon {
  width: 60px;
}

.drawer p {
  font-size: 14px;
}

.drawer .drawer-back {
  font-weight: 700;
  padding-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
}
.drawer a {
  background-color: #377d87;
  border: 0;
  color: #fff;
  padding: 5px;
  display: block;
  text-align: center;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 1px 2px 2px 0 rgba(197, 197, 197, 0.5);
  border: 1px solid #d7d3d3;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.drawer .description {
  font-family: "Open Sans", sans-serif;
  margin: 10px;
}

.location {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
  border: none;
  display: flex;
  border-radius: 3px;
  padding: 0px 4px 0px 0px;
  background-size: contain;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  position: absolute;
  margin: 7px;
}

.location .mapboxgl-ctrl-geocoder {
  box-shadow: none;
  font-size: 14px;
  width: 300px;
}
.location input {
  border: none;
}
.location input:focus {
  outline: none;
}

.location .location-search-icon {
  background-image: url(/static/Search-48.png);
  float: left;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  border-right: lightgray;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 42px;
}

.location .location-target-icon {
  background-image: url(/static/Target-128.png);
  float: left;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: contain;
}

.location .location-home-icon {
  background-image: url(/static/House-128.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: contain;
}

.marker-cluster {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  will-change: transform;
  border: 2px white solid;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.marker-cluster:hover {
  top: 0;
  left: 0;
  width: 90px !important;
  height: 90px !important;
  z-index: 2;
  transition: width 0.25s, height 0.25s;
}

.marker-cluster .count {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  right: -5px;
  top: -5px;
  padding: 3px 5px 3px 4px;
  line-height: 11px;
  font-size: 13px;
  font-weight: 600;
}

.marker-notice {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  will-change: transform;
  border: 2px white solid;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: 60px;
}

.marker-notice .popup {
  /* visibility: hidden; */
  background-color: white;
  top: -75px;
  border-radius: 5px;
  position: absolute;
  right: -5px;
  padding: 3px 5px 3px 4px;
  line-height: 11px;
  font-size: 13px;
  height: 70px;
  font-weight: 600;
}

.marker-notice:hover {
  left: 0;
  top: 0;
  z-index: 2;
  width: 100px;
  height: 100px;
  background-size: 100px;
  transition: width 0.25s, height 0.25s;
}

.marker-active {
  border-color: #377d87;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100px;
  height: 100px;
  background-size: 100px;
  transition: width 0.25s, height 0.25s;
}

.marker-notice:hover {
  left: 0;
  top: 0;
  z-index: 2;
  width: 100px;
  height: 100px;
  background-size: 100px;
  transition: width 0.25s, height 0.25s;
}

.search-map .thumbnailStyle {
  width: 52px;
  height: 52px;
  margin: 4px;
}

.search-map .loader-container {
  position: absolute;
  z-index: 5;
  width: 98%;
  height: 600px;
  background: #00000082;
  padding: 0;
}
