.notice {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: 'center';
  background-color: white;
  flex-direction: column;
}

.notice .main-title{
  text-align: center;
  padding: 50px;
}

.notice .buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.notice .buttons button{
  margin: 10px;
}

.notice .image{
  display: flex;
  justify-content: center;
  align-items: center;
}


.notice button{
  margin-top: 20px;
}

.leaflet-container {
  height: 600px;
  padding-top: 10px;
  width: 100%;
}


.error{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
}