.fieldImages {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.fieldImages .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fieldImages .item p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.fieldImages .image-gallery span {
  font-size: 10px;
  color: #808d9e;
  font-weight: 500;
  margin-bottom: 5px;
}

.fieldImages img {
  max-height: 380px;
  background-color: transparent;
}

.fieldImages .image-gallery {
  width: 100%;
}

.fieldImages .image-gallery-thumbnail-label {
  position: relative;
  padding: 0px;
  transform: none;
  text-shadow: none;
}

.fieldImages .image-gallery-thumbnail-label a {
  font-size: 12px;
  color: grey;
}

.image-gallery {
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(215, 215, 215, 0.5);
}

.image-gallery-image {
  height: 360px;
  text-align: center;
}

.image-gallery-slide .image-gallery-image > img {
  width: auto;
  max-width: 100%;
}
