.notice-field-modal .modal-content {
  padding: 20px;
}

.notice-field-modal .btn {
  margin-top: 20px;
}

.field-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-link .notice-new {
  border-style: solid;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100px;
  padding: 20px;
  border-width: 1px;
  background-color: white;
  cursor: pointer;
  margin-top: 10px;
}

.field-link .notice {
  width: 100px;
  margin-top: 10px;
}
