.notice {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 1px rgba(189, 189, 189, 0.7);
}

.notice .main-title {
  text-align: center;
  padding: 35px;
}

.notice .subtitle {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 10px;
}

.notice .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.notice .buttons button {
  margin: 20px;
}

.notice .leaflet-parent-container {
  max-width: 400px;
  height: 300px;
  margin: 20px auto;
}
.leaflet-container {
  max-width: 400px;
  height: 300px;
}

.notice .error {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
}
