.topics-view {
  display: flex;
  justify-content: start;
  align-items: "center";
  background-color: #e5edef;
  flex-direction: column;
  padding-bottom: 60px;
}
.topics-view h2 {
  color: #025d59;
  font-size: 28px;
  margin: 30px 15px 30px 15px;
  text-align: center;
}

.topics-view h3 {
  margin-top: 20px;
  color: #19414c;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
  margin-bottom: 20px;
}
