.list-gallery .row {
  display: flex;
  justify-content: center;
  padding: 18px;
}

.list-gallery .filter {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 0 rgba(197, 197, 197, 0.5);
}

.list-gallery .reactive-list > div {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.list-gallery .gallery-card {
  margin-bottom: 10px;
}

.list-gallery img {
  width: 100px;
  max-height: 100%;
  object-fit: contain;
}

.list-gallery .container {
  max-width: 60%!important;
}
.list-gallery h2 {
  font-size: 18px;
}

.list-gallery .institution {
  position: absolute;
  top: 0px;
  color: grey;
  right: 10px;
}

.list-gallery .card {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*

.list-import .import-card {
  padding: 5px;
}

.list-import .card > div {
  margin: 20px;
}

.list-import .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
