.home {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 6px 0 #e4e4e4;
  max-width: 1000px;
}

.home .title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  padding-top: 20px;
  max-width: 740px;
}

.home .subtitle {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 740px;
}

.home .subtitle li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.home .box {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.home .tile {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* padding: 10px; */
  cursor: pointer;
  max-width: 250px;
  height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.home .tile .caption {
  height: 60px;
  position: absolute;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0px;
}

.home .tile .name {
  font-size: 20px;
}

.home .tile img {
  object-fit: fill;
  width: 100%;
  min-width: 200px;
  height: 100%;
}

.home .tile .thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
