.avatar .Logo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.avatar .Initials {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #9faab2;
}
