.step-three > h4 {
    font-family: 'Comfortaa';
    font-weight: 400;
}
.step-three .contribution-text {
    color: #007772;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
}
.step-three .step-box {
    background-color: #F3F7FC;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #eee;
    padding: 30px 60px;
    min-height: 300px;
    margin: 0 auto;
}
.step-three .envoyer {
    background-color: #1CEEC1;
    color: #fff;
}
.step-three .underlined-text {
    color: #1CEEC1;
    text-decoration: underline;
}
