body {
  margin: 0px;
  overflow:hidden;
  overflow-y: auto;
  font-family: 'Work Sans';
  background-color: #F5F5F5;
}

body, html, #root, .main {
  width: 100%;
  font-family: 'Work Sans';
  height: 100%;
  background-color: #F5F5F5;
}
