body {
  margin: 0px;
  overflow:hidden;
  background-color: #F3F7FC;
}

body, html, #root, .main {
  width: 100%;
  font-family: 'Comfortaa';
  font-size: medium;
  height: 100%;
  background-color: #F3F7FC;
}
#root{
  overflow-y: auto;
}