body {
  margin: 0px;
  overflow:hidden;
  background: url('./assets/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html, .root {
  width: 100%;
  height: 100%;
}



img{
  width: 100%;
  height: 100%;
}

