html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  font-family: "Open Sans", sans-serif;
  color: #2a282b;
  margin-bottom: 60px;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("./assets/fonts/open-sans-v15-latin-300.woff2") format("woff2"),
    url("./assets/fonts/open-sans-v15-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("./assets/fonts/open-sans-v15-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/open-sans-v15-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("./assets/fonts/open-sans-v15-latin-600.woff2") format("woff2"),
    url("./assets/fonts/open-sans-v15-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("./assets/fonts/open-sans-v15-latin-700.woff2") format("woff2"),
    url("./assets/fonts/open-sans-v15-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Nexa";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/nexa.woff2") format("woff2"),
    url("./assets/fonts/nexa.woff") format("woff");
}
