@font-face {
    font-family: 'Avenir-Book';
    src: url('../../assets/fonts/Avenir-Book.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Book.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir-Medium.woff2') format('woff2'),
    url('../../assets/fonts/Avenir-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


.steps-form {
    font-family: 'Avenir-Book';
    background-color: #F3F7FC;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}
.steps-form .aside {
    background-color: #F4E2CC;
}
.steps-form .aside h5 {
    color: #19414C;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}
.steps-form .aside p {
    font-family: 'Avenir-Book';
    color: #19414C;
    font-size: 16px;
    font-weight: 400;
}
.steps-form .steps-main .lead {
    font-family: 'Comfortaa';
    color: #007772;
    font-weight: 400;
    font-size: 18px;
}
.steps-form .steps-main > .lead {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #979797;
    font-weight: 400;
}

.steps-form .button-controls {
    padding-top: 50px;
}
.steps-form .button-controls button {
    background-color: #1CEEC1;
    width: 160px;
    padding: 10px;
    color: #fff;
    border: 0;
    font-size: 16px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}
.steps-form .button-controls button:disabled {
    cursor: not-allowed;
}

.steps-form .button-controls button.import {
    background-color: transparent;
    color: #1CEEC1;
    border: 1px solid #1CEEC1;
}
.steps-form .steps-main .steps {
    position: relative;
    max-width: 500px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.steps-form .steps-main .steps:after{
    content: '';
    display: block;
    height: 5px;
    background-color: #1CEEC1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width:0;
}
.steps-form .steps-main .steps:before{
    content: '';
    display: block;
    height: 5px;
    background-color: #E6E6E6;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.steps-form .steps button {
    position: relative;
    background: #8999AE;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    border: 0;
    font-size: 16px;
    z-index: 5;
    outline: 0;
    cursor: pointer;
}
.steps-form .steps-main .steps.step2:after {
    width: 50%;
}
.steps-form .steps-main .steps.step3:after {
    width: 100%;
}
.steps-form .steps button.step-active {
    background: #1CEEC1;
}
.steps-form .steps button.step-done {
    background: #1CEEC1;
    font-size: 0;
}
.steps-form .steps button.step-done:before{
    content: '';
    display: block;
    height: 13px;
    background-color: #fff;
    width: 3px;
    position: absolute;
    top: 18px;
    left: 10px;
    transform: rotate(-45deg);
}
.steps-form .steps button.step-done:after{
    content: '';
    display: block;
    height: 25px;
    background-color: #fff;
    width: 3px;
    position: absolute;
    top: 8px;
    left: 22px;
    transform: rotate(45deg);
}
