{
  "presets": [
    "minify",
    "react",
    "env"
  ],
  "plugins": [
    "transform-runtime",
    "class-properties-default-value",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-async-generator-functions",
    "transform-es2015-parameters"
  ]
}
