.card {
  margin-top: 20px;
  display: flex;
  flex-direction: row!important;
  text-decoration:none;
}

.card .col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p {
  text-align: center;
  margin: 0px;
}

.card button {
  margin: 5px;
}


.card .actions{
  display: flex;
  justify-content: center;
  align-items: center;
}