
.home-search{
    /* background-image: url("./../../assets/background.jpg"); */
}

.home-search .title{
    text-align: center;
    margin-bottom: 80px;
    font-size: 30px;
    padding-top: 20px
}

.home-search .subtitle{
    text-align: center;
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-search .box{
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-search .row{
    display: flex;
    justify-content: center;
    
}

.home-search .tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.home-search .tile {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    max-width: 250px;
    height: 330px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.home-search .tile .caption{
    height: 60px;
    position: absolute;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0px;
}

.home-search .tile .name {
    font-size: 20px;
}

.home-search .tile img{
    object-fit: fill;
    max-height: 100%;
}

.home-search .tile .thumb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
