.search {
  display: flex;
  justify-content:'center';
  align-items: 'center'
}
.search .title{
  text-align: center;
  padding: 50px;
}

.search .advancedfilters {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
}

