.search {
  display: flex;
  background-color: #e5edef;
  height: 100%;
  min-height: 85vh;
  padding: 20px 0;
  margin-bottom: 60px;
}

.search .title {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  color: #19414c;
  margin-bottom: 20px;
}

.search .search-sidebar {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(215, 215, 215, 0.5);
}
.search .search-sidebar h4, .search .search-sidebar .selected-filters h2 {
  color: #19414c;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.search .search-sidebar .selected-filters a {
  color: #19414c;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  margin-bottom: 5px;
  justify-content: space-between;
  background-color: transparent;
  box-shadow: 1px 2px 2px 0 rgba(197, 197, 197, 0.5);
  border: 1px solid #d7d3d3;
  border-radius: 5px;
}
.search .search-sidebar .selected-filters a:last-child {
  background-color: #377d87;
  border: 0;
  color: #fff;
  margin: 5px auto 25px;
  padding: 5px 3px 1px;
  display: block;
  width: 150px;
  text-align: center;
  font-size: 14px;
}
.search .filters + label {
  font-weight: 400;
  font-size: 20px;
  color: #19414c;
}

.search .mainSearch {
  width: 100%;
  margin-bottom: 10px;
}
.search .mainSearch input {
  font-weight: 400;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(215, 215, 215, 0.5);
  background-image: url(../../assets/search.png);
  background-repeat: no-repeat;
  background-position: 1% center;
  padding-left: 40px;
  background-size: 22px;
  color: #19414c;
}
.search .mainSearch input::placeholder {
  color: #777;
  font-weight: 400;
  font-size: 18px;
}

.search .search-filters {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.search .search-results {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.search .search-filters .close_mobile_menu,
.search .filter_mobile_menu {
  display: none;
}

.search .search-icon {
  display: none;
}

.search #mainSearch-downshift-input {
  height: 50px;
}

.search .buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.search .search-and-export-zone {
  display: flex;
}

.search .search-and-export-zone .button {
  width: 235px;
}

.search .nav-pills {
  box-shadow: 0 2px 2px 0 rgba(215, 215, 215, 0.5);
}
.search .nav-pills .nav-link {
  background-color: #fff;
  color: #777;
  border-radius: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  height: 50px;
  padding-top: 10px;
}
.search .nav-pills .nav-item {
  flex-grow: 1;
  text-align: center;
}
.search .nav-pills .nav-item .active {
  background-color: #377d87;
  color: #fff;
}
.search .nav-pills .nav-item:first-child .nav-link {
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search .nav-pills .nav-item:last-child .nav-link {
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search .nav-pills .nav-link.active:hover {
  color: #fff;
}

.search label::before {
  border-radius: 0px !important;
  min-width: 16px !important;
}

.search .active input:checked + label::after {
  border-color: #377d87 !important;
}
.search .mosaique-view > div {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.css-ixn26d,
.search .mosaique-view > div.css-ixn26d {
  margin-bottom: 12px;
  margin-left: 0;
}
.search .active input:checked + label::before,
.search .active input:hover + label::before,
.css-yljddh:hover + label::before {
  border-color: #377d87 !important;
}

.search .map {
  margin-top: 10px;
  border-radius: 5px;
}

.search .mapboxgl-map {
  border-radius: 5px;
  box-shadow: 1px 2px 2px 0 rgba(197, 197, 197, 0.5);
}

@media screen and (max-width: 767px) {
  .search .search-filters {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    width: 100%;
    z-index: 1000;
    transform: translateX(-100%);
    overflow-y: auto;
    transition: all 0.4s;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .search .filter_mobile_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search .filter_mobile_menu img {
    width: 20px;
    margin: 5px;
  }

  .search .search-filters .close_mobile_menu {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
  }

  .search #mainSearch-downshift-input {
    height: 40px;
    padding-left: 30px;
  }

  .search .mobile_open {
    transform: translateX(0);
  }
  .search .mainSearch input::placeholder {
    font-size: 14px;
  }
  .search .search-results {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
